<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/flame.png">
    <h1>{{title}}</h1>

<body>
    <div class="main-content">
        {{>header}}
        <p>Ova web stranica prikazuje temperaturu i koncentraciju plinova po sobama. Podaci se prikupljaju preko MQTT
            protokola svakih 16 sekundi.

        </p>

        <img class="portrait" src="/slika.jpg">
    </div>

    {{>footer}}
</body>
</head>

</html>