<!DOCTYPE html>

<html>

<head>
    <title>Početna stranica</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/flame.png">
    <h1>{{title}}</h1>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Pregled temperature i koncentracije plina po sobama. Alarm se uključuje ukoliko je temperatura veća od 27 °C
            ili je pokazatelj koncentracije plina veći od 350.</p>


    </div>

    {{>footer}}

</body>

</html>